html, body {
    margin: 0;
    padding: 0;
}

.grid-container {
    margin: 2fr;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(20vw, 1fr));
    grid-template-rows: repeat(3, minmax(31vw, 1fr));
}

.grid-container > div {
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#one {
    background-color: red;
    grid-column: 1 / 5;
}

#two {
    background-color: blue;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

#three {
    background-color: green;
    grid-column: 3 / 5;
}

#four {
    background-color: purple;

}

#five {
    background-color: purple;
}